/**
Global/Material styles
**/
.button {
	text-decoration: none;
	opacity: 0.87;
	color: white;
	background-color: #3F51B5;
	border-radius: 0.2em;
	padding: 0.5em 1em;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.button.big {
	font-size: 1.15em;
	padding: 1em 1.5em;
}
*,html{
	padding: 0px;
	margin: 0px;
	font-family: Roboto, sans-serif;
}

/**
Main splash page
**/
#mainheader {
	text-align: center;
	min-height: 65vh;
	color: white;
	box-shadow: initial;
}
#mainheader h1 {
	text-align: center;
	padding: 0px;
	font-size: 4em;
	line-height: 25vh;
}
#mainheader h2 {
	opacity: 0.57;
	font-weight: 300;
	text-align: center;
}
#getstarted {
	margin-top: 5em;
}

/**
Header
**/
header {
	display: block;
	background-color: #9C27B0;
	padding: 15px 0px;
	box-shadow: 0px -2px 4px 4px rgba(0,0,0,0.4);
}
header h1 {
	color: white;
	text-align: left;
	padding-left: 2em;
	font-weight: 400;
	opacity: 0.87;
	font-size: 2.5em;
}

/**
Lesson List
**/
.lessonitem {
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	height: 15vh;
}
.lessontitle {
	margin-top: 20px;
	font-size: 2em;
	font-weight: 300;
	opacity: 0.87;
}
.lessonitemleft, .lessonitemright {
	float: left;
}
.lessonitemleft {
	width: 60vw;
	text-align: right;
}
.lessonitemright {
	line-height: 15vh;
	width: 40vw;
}
.lessonitemright .button {
	margin-left: 20px;
}
.tag {
	display: block;
	padding: 0.1em 0.3em;
	border-radius: 0.15em;
	float: right;
	margin: 0px 2px;
}
.theme {
	color: rgba(0,0,0,0.54);
	background-color: rgba(0,0,0,0.12);
	opacity: 0.87;
}
.BEGINNER {
	color: rgba(76,175,80,.54);
	background-color: rgba(76,175,80,.12);
}
.INTERMEDIATE {
	color: rgba(220,231,117,.95);
	background-color: rgba(220,231,117,.32);
}
.HARD {
	color: rgba(255,0,0,.54);
	background-color: rgba(255,0,0,.12);
}
/**
Login area
**/
#loginarea, #signuparea{
	display: none;
	background: white;
	width: 50vw;
	border-radius: .2em;
	text-align: center;
}
#loginarea h1 , #signuparea h1{
	text-align: center;
	font-weight: 300;
	font-size: 2em;
	margin: 20px 0px;
}
#loginarea input , #signuparea input{
	text-align: center;
	width: 44vw;
	margin: 5px 1.5vw;
	padding: 1.5vw;
	font-size: 1.5em;
	border-radius: 2em;
	opacity: 0.87;
	border: 1px solid rgba(0,0,0,0.1);
	outline: 0px;
}
